textarea {
    resize: none;
}

.pac-container {
    z-index: 1100 !important;
}

.simple-map-wrapper {
    transition: opacity 1s ease-out;
    margin-top: 15px;
}

// Details styles
details[open] summary {
    font-weight: bold;
}

details summary::-webkit-details-marker {
    background: none;
    color: transparent;
}
details[open] summary::-webkit-details-marker {
    background: none;
    color: transparent;
}

details summary::before {
    content: "\f041";
    font-family: FontAwesome;
}

details summary::after {
    font-size: 12px;
    margin-left: 5px;
    content: "\f054";
    font-family: FontAwesome;
}

details[open] summary::before {
    content: "\f041";
    font-family: FontAwesome;
    zoom: 1.3;
    color: green;
}

details[open] summary::after {
    font-size: 12px;
    margin-left: 5px;
    content: "\f078";
    font-family: FontAwesome;
}

.create-event-btn {
    display:block;
    width:85px;
    height:85px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #43A564;
    box-shadow: 0 0 3px gray;
    font-size:25px;
    line-height: 26px;
    font-weight:bold;
    position: fixed;
    bottom: 15px;
    left: 15px;
    transition: all .2s ease-in-out;
}

.create-event-btn:hover {
    transform: scale(1.2);
    text-decoration: none;
    color: #f5f5f5;
    background: rgb(49, 119, 72);
    border-color: transparent;
    outline: none;
}

.create-event-btn:focus {
    outline: none;
}