textarea {
    resize: none;
}

.pac-container {
    z-index: 1100 !important;
}

.simple-map-wrapper {
    transition: opacity 1s ease-out;
    margin-top: 15px;
}

// Details styles
details[open] summary {
    font-weight: bold;
}

details summary::-webkit-details-marker {
    background: none;
    color: transparent;
}
details[open] summary::-webkit-details-marker {
    background: none;
    color: transparent;
}

details summary::before {
    content: "\f041";
    font-family: FontAwesome;
}

details summary::after {
    font-size: 12px;
    margin-left: 5px;
    content: "\f054";
    font-family: FontAwesome;
}

details[open] summary::before {
    content: "\f041";
    font-family: FontAwesome;
    zoom: 1.3;
    color: green;
}

details[open] summary::after {
    font-size: 12px;
    margin-left: 5px;
    content: "\f078";
    font-family: FontAwesome;
}

